/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Color Scheme:
dark:#B44596，
light:#CC40AE
white:#F0EEEB


/* content font */
body{
    font-family: 'Lato', sans-serif;
}
/* mobile screen */
@media screen and (max-width: 720px){
header {
        position: relative;
}
.headerback{
    margin:0 auto;   
    background-image: url(../images/back720.jpg);
    background-position: bottom;
    width: 90%;
    max-width: 100%;
    padding: 10px;
    height: 450px;
    text-align: center;
}
.logo{
    width: 90px;
    margin: 0 20px 0 10px ;
}
.navigation,
.navigation.logo,
.navigation .list,
.navigation li{
	display: flex;
    justify-content: space-evenly;	
}
.list a{   
    color: #F0EEEB;
    padding-left: 15px;
    font-size: 20px;
    text-decoration: none;
}
.shop,
.search{
    padding-left: 30px;   
}
.list{
    margin: 50px 10px 0 10px;
}
.navigation{
    margin: 10px;
}

.delicious{
    color: #F0EEEB;
    margin: 50px 10px 0 10px;
}
.delicious h4{
    margin-bottom: 15px;
    font-size: 25px;
}
.delicious h2{
    font-size: 30px;
    color: #B44596;
    margin-bottom: 15px;
}
.order{
    background-color:#B44596 ;
    border-radius: 97%;
    color: #F0EEEB;
    margin: 15px 10px 10px 300px;
}
.products h4{
    font-size: 15px;
    padding: 10px 10px 0 10px;
}
.products p{
    font-size: 11px;
    padding: 10px;
}
.products{
    margin: 15px 10px 0 10px;   
    background-color: #F0EEEB;
    opacity: 0.5;
    color: black;
    display: flex;
}

/* container */
.container{
    margin: 20px;
    text-align: center;
}
.only h2,
.activities h2{
    font-size: 30px;
    color: #B44596;  
}
.line{
    height: 2px;
    background-color: #B44596;
    margin-top: 10px;       
}
.flavor p{
    margin: 10px;
}
.purplephoto,
.matchaphoto,
.chocolatephoto,
.strawberryphoto,
.teaphoto,
.totephoto{
    height: 260px;
    width: 100%;
    margin-top: 15px;
}
.activities button{
    background-color:#B44596 ;
    border-radius: 97%;
    color: #F0EEEB;
    margin: 10px;
}
.activities{
    text-align: center;
}
/* footer info */
/* hidden maps in screen max-width 720px */
.footerinfo{
    margin: 20px 20px 5px 20px;
    text-align: center;
}
.maps{
    display: none;
}
.social{
    text-align: center;
}
.social h3{
    border:1px solid #CC40AE;
    padding: 10px;
    width:120px;
    margin:0 auto;
}
.social p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.social a,
.follow {
	color: #B44596;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
}
.follow{
    margin-bottom: 10px;
}
.socialicon{
    display: flex; 
    justify-content: space-evenly;
    margin-top: 20px;
}
/* footer */
footer {
	display: block;
	position: relative;
    background-color: #CC40AE;
    padding: 20px;
    color: #F0EEEB;
}
footer p{
    text-align: center;
}
/******************
shop page
*******************/
.headerpicture{
    margin:0 auto;   
    background-image: url(../images/ice-960.jpg);
    background-position: bottom;
    width: 90%;
    max-width: 100%;
    padding: 10px;
    height: 150px;
    text-align: center;
}
.shop-menu{
    margin: 20px;
    text-align: center;
}
.purplephoto1,
.matchaphoto1,
.chocolatephoto1,
.strawberryphoto1,
.teaphoto1,
.totephoto1{
    height: 220px;
    width: 100%;
    margin-top: 15px;
    border-radius:50%;
}
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.menu-item {
	flex-basis: 50%;
	margin-bottom: 5px;
    margin-right:10px ;
	padding-bottom: 5px;
	border-bottom: 1px solid #B44596;
    text-align: center;
}
.menu-title h4{
    font-size: 25px;
    color: #B44596;
    border: solid 1px #CC40AE;
    padding: 10px;
    letter-spacing: 1px;
    margin-top: 5px;
}
.contactsheet h2{
    padding: 10px;
    border: solid 1px #CC40AE;
    margin: 0 auto;
    width:150px;
}
.followus{
    display: none;
}



}

/* desktop screen */
@media screen and (min-width: 720px){
header {
        position: relative;
}
body{
    max-width: 1400px;
}
.navigation{
    margin: 10px;
}
.logo{
    width: 100px;
    margin: 0 40px 0 10px;
    float:left;
}
.headerback{
    margin:0 auto;   
    background-image: url(../images/back1440.jpg);
    background-position: bottom;
    width: 100%;
    max-width: 100%; 
    height: 380px;
    text-align: center;
}
.list,
.navigation li{
	display: flex;
    justify-content: space-evenly;	  
}
.list{
    padding-top: 40px;
}
.shop{
    padding-left: 40px;
}
.list a{   
    color: #F0EEEB;
    font-size: 30px;
    text-decoration: none;
}
.delicious{
    color: #F0EEEB;
    margin: 55px 10px 0 10px;
}
.delicious h4{
    margin-bottom: 15px;
    font-size: 20px;
}
.delicious h2{
    font-size: 45px;
    color: #B44596;
    margin-bottom: 15px;
}
.order{
    background-color:#B44596 ;
    border-radius: 97%;
    color: #F0EEEB;
    margin: 15px 10px 10px 500px;
}
.products h4{
    font-size: 20px;
    padding: 10px 10px 0 10px;
}
.products p{
    font-size: 10px;
    padding: 5px;
}
.products{
    margin: 10px 0 0 0;   
    background-color: #F0EEEB;
    opacity: 0.5;
    color: black;
    display: flex;
    justify-content: space-evenly;
}
/* container */
.container{
    margin: 30px;
    text-align: center;
}
.purplephoto,
.matchaphoto,
.chocolatephoto,
.strawberryphoto,
.teaphoto,
.totephoto{
    height: 220px;
    max-width: 400px;
    width: 95%;
}
.flavor{
    margin:20px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;

}
.only h2,
.activities h2{
    font-size: 40px;
    color: #B44596;  
}
.line{
    height: 2px;
    background-color: #B44596;
    margin-top: 10px;       
}
.flavor p{
    margin: 10px;
}
/* activities */
.creamsocial,
.creamery{
    height:500px;
}
.activity{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.activity button{
    margin: 10px;
    background-color:#B44596 ;
    border-radius: 97%;
    color: #F0EEEB;
}
/* location */
.footerinfo{
    margin: 30px;
    text-align: center;
}
.maps h2{
    color: #B44596;
    font-size: 30px;
    margin-bottom: 15px;
}
.footerinfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.contact h3{
    color: #B44596;
    font-size: 30px;
    margin: 120px 0 30px 0;
}
.social a{
    text-decoration: none;
    color: #B44596;
}
.social p{
    font-size: 20px;
    padding-bottom: 40px;
}
.follow{
    color: #B44596;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.socialicon{
    display: flex; 
    justify-content: space-evenly;
    padding: 10px;
}
.socialicon a{
    margin: 20px 30px 0 0;
}
footer p{
	position: relative;
    text-align: center;
    margin-bottom: 30px;
}
}

