/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Color Scheme:
dark:#B44596，
light:#CC40AE
white:#F0EEEB


/* content font */
body{
    font-family: 'Lato', sans-serif;
}
/* mobile screen */
@media screen and (max-width: 720px){
header {
        position: relative;
}
.headerback{
    margin:0 auto;   
    background-image: url(../images/back720.jpg);
    background-position: bottom;
    width: 90%;
    max-width: 100%;
    padding: 10px;
    height: 450px;
    text-align: center;
}
.logo{
    width: 90px;
    margin: 10px 20px 0 10px ;
}
.navigation,
.navigation.logo,
.navigation .list,
.navigation li{
	display: flex;	
}
.list a{   
    color: #F0EEEB;
    padding-left: 15px;
    font-size: 20px;
    text-decoration: none;
}
.shop,
.search{
    padding-left: 30px;   
}
.list{
    margin: 50px 10px 0 10px;
}
.navigation{
    margin: 10px;
}

.delicious{
    color: #F0EEEB;
    margin: 50px 10px 0 10px;
}
.delicious h4{
    margin-bottom: 15px;
    font-size: 25px;
}
.delicious h2{
    font-size: 30px;
    color: #B44596;
    margin-bottom: 15px;
}
.order{
    background-color:#B44596 ;
    border-radius: 97%;
    color: #F0EEEB;
    margin: 15px 10px 10px 300px;
}
.products h4{
    font-size: 15px;
    padding: 10px 10px 0 10px;
}
.products p{
    font-size: 11px;
    padding: 10px;
}
.products{
    margin: 15px 10px 0 10px;   
    background-color: #F0EEEB;
    opacity: 0.5;
    color: black;
    display: flex;
}

/* container */
.container{
    margin: 20px;
}
.only h2,
.activities h2{
    font-size: 30px;
    color: #B44596;  
}
.line{
    height: 2px;
    background-color: #B44596;
    margin-top: 10px;       
}
.flavor p{
    margin: 10px;
}
.purplephoto,
.matchaphoto,
.chocolatephoto,
.strawberryphoto,
.teaphoto,
.totephoto{
    height: 280px;
    width: 100%;
    margin-top: 15px;
}
.activities button{
    background-color:#B44596 ;
    border-radius: 97%;
    color: #F0EEEB;

}
/* footer info */
/* hidden maps in screen max-width 720px */
.footerinfo{
    margin: 20px 20px 5px 20px;
}
.maps{
    display: none;
}
.social h3{
    border:1px solid #CC40AE;
    padding: 10px;
    width:120px;
}
.social p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.social a,
.follow {
	color: #B44596;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
}
.follow{
    margin-bottom: 10px;
}
.socialicon{
    display: flex; 
}
.socialicon a{
    margin: 20px 30px 0 0;
}
/* footer */
footer {
	display: block;
	position: relative;
    background-color: #CC40AE;
    padding: 20px;
    color: #F0EEEB;
}

/* desktop screen */
@media screen and (min-width: 720px){
/* only */
.body{
    max-width: 1400px;
}

.headerback{
    margin:0 auto;   
    background-image: url(../images/back1440.jpg);
    background-position: bottom;
    width: 90%;
}